* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    --text-dark: #212529;
    --text-light: #fff;

    --badge-background: #cff4fc;
    --badge-text-color: #3679ae;

    --dark-background: #343a41;
    --grey-background: #e9ecef;
    --purple-background: #7431f9;

    --background-color: #fff;


    background-color: var(--background-color);
}

.dark {
    --text-dark: #fff;
    --text-light: #fff;

    --badge-background: hsla(191, 15%, 86%, 0.788);
    --badge-text-color: #257b91;

    --dark-background: #343a41;
    --grey-background: #343a41;
    --purple-background: #6e2cf4;

    --background-color: #212529;
    background-color: var(--background-color);
    color: var(--text-light);

}

p {
    margin: 0;
}

nav {
    background-color: var(--purple-background);

    .nav-item {
        &hover {
            color: var(--text-light);
        }

        .active {
            font-weight: bold;
            color: var(--text-light) !important;
        }

        .nav-link {
            color: var(--text-light);

        }
    }


    .nav-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        * {
            margin: .25rem;
        }

        .dropdown {
            * {
                width: 4rem;
                margin: 0;
            }

            &active {
                background-color: #fff;
            }
        }
    }
}

.hero {
    padding: 2rem;

    .badge {
        padding: .5rem;
        background-color: var(--badge-background);
        border: 2px solid var(--badge-text-color);
        margin-bottom: 1rem;
        color: var(--badge-text-color);
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        font-size: .5rem;
        letter-spacing: 1px;
        align-items: center;

        * {
            margin: .25rem;

        }

        a {
            font-size: 1rem;
        }
    }

    hr {
        width: 5rem;
    }

}

.hide {
    display: none;
}



.icons {
    .form-control {
        &:focus {
            border: .25px solid grey;
            outline: none;
            box-shadow: none;
        }
    }

    .icon_boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        text-align: center;
        justify-content: flex-start;
        color: var(--text-dark);

        .box {
            height: 10rem;
            margin: 1rem;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            .bi {
                background-color: var(--dark-background);
                color: var(--text-light);
                border-radius: 5px;
                width: 10rem;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
            }

            p {
                width: 100%;
                padding-top: 10px;
                font-size: 12px;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }
}

.installation {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    .package-container,
    .download,
    .CDN {
        margin-top: 1.5rem;
        padding: 0rem 1rem;
    }
}



.copy_text {
    background-color: var(--dark-background);
    color: var(--text-light);
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    height: 4rem;
    white-space: nowrap;
    width: 20rem;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;

    i {
        margin-left: .5rem;
        z-index: 2;
        position: sticky;
        background-color: var(--dark-background);
        padding: 1rem;
        right: -17px;
        top: -10px;
        color: var(--text-light);
    }

    &.max-height {
        height: 8.9rem;
    }

    p {
        margin-right: 2rem;
        width: 25rem;
        height: 3rem;
    }


}

.example {
    background-color: var(--dark-background);
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    border-radius: 15px;
    justify-content: flex-start;
    padding-right: 0;
    padding-left: 0;
    height: fit-content;


    .example_code {
        padding: .5rem;
        justify-content: center;
        align-items: center;

        .bi {
            padding: 2rem;
            margin: auto;
            font-size: 3rem;
            color: var(--text-light);
        }
    }

    div {
        border: 1px solid var(--text-light);
        width: 100%;
        margin: 0;
        border-radius: 0;

    }
}

::-webkit-scrollbar {
    color: var(--grey-background);
    border-radius: 10px;
}


.figma {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 15px;
    height: fit-content;
    margin-left: 1rem;
}