* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  --text-dark: #212529;
  --text-light: #fff;
  --badge-background: #cff4fc;
  --badge-text-color: #3679ae;
  --dark-background: #343a41;
  --grey-background: #e9ecef;
  --purple-background: #7431f9;
  --background-color: #fff; }

.dark {
  --text-dark: #fff;
  --text-light: #fff;
  --badge-background: hsla(194, 57%, 12%, 0.788);
  --badge-text-color: #257b91;
  --dark-background: #343a41;
  --grey-background: #343a41;
  --purple-background: #6e2cf4;
  --background-color: #212529; }

p {
  margin: 0; }

nav {
  background-color: var(--purple-background); }
  nav .nav-link {
    color: var(--text-light); }
  nav .nav-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    nav .nav-icons * {
      margin: .25rem; }

.hero {
  padding: 2rem; }
  .hero .badge {
    padding: .5rem;
    background-color: var(--badge-background);
    border: 2px solid var(--badge-text-color);
    margin-bottom: 1rem;
    color: var(--badge-text-color); }
  .hero .links {
    display: flex;
    flex-wrap: wrap;
    font-size: .5rem;
    letter-spacing: 1px;
    align-items: center; }
    .hero .links * {
      margin: .25rem; }
    .hero .links a {
      font-size: 1rem; }
  .hero hr {
    width: 5rem; }

.icons .icon_boxes {
  display: flex;
  text-align: center;
  color: var(--text-dark); }
  .icons .icon_boxes .box {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .icons .icon_boxes .box i {
      background-color: var(--dark-background);
      color: var(--text-light);
      border-radius: 15px;
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem; }

.copy_text {
  background-color: grey;
  border-radius: 15px;
  width: fit-content;
  padding: 1rem; }
  .copy_text i {
    margin-left: .5rem; }

.figma {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 15px;
  margin-left: 1rem; }
